
@font-face
{
  font-family: BEHAVIOR;
  src: url(fonts/behavior.otf);
}

@font-face
{
  font-family: CHENTALLE;
  src: url(fonts/chentalle.otf);
}

@keyframes appear
{
    0%{opacity: 0%; transform:translateY(-5vw);}
    100%{opacity: 100%;transform:translateY(0vw);}
}



body
{

    background: linear-gradient(#164A41, #9dc8);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Poppins', arial;
}

header
{
    z-index: 100;
    width: 100vw;
    height: 6.5vh;
    display: flex;
    border-bottom: transparent solid 0px;
    align-items: center;
    position: fixed;
        background: transparent;
    justify-content: space-between;
}

section
{
  width: 70%;
  margin-top: 7vh;
}

#element::-webkit-scrollbar
{
    display: none;
}

::-webkit-scrollbar
{
    display: none;
}

h1
{
  
    font-family: BEHAVIOR;
    width: 85%;
        letter-spacing: 0.4vw;
    text-align: center;
    font-size: 2.6vh;
    color: #1f1f1f;

}

#group_of_buttons
{
    height: 52%;
    background: transparent;
    display: flex;
    margin-right: 3vh;
}

.bttn_header
{
    height: 100%; 
        margin-left: 2vh;
    aspect-ratio: 1/1;
    background: transparent;
    border: 0px transparent solid;
}
.icon_header
{
    height: 100%;
    background: transparent;
}


#logo
{
    height: 52%;
    margin-left: 3vh;
}

#home
{
    height: 100vh; width: 100vw;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;

}

#home_info
{
    display: flex;
    flex-direction: column;
}

.title
{
    font-family: CHENTALLE;
    margin: -1vw;
    text-align: center;
    font-weight: bold;
    color: white;
    opacity: 0%;
}

.home_bttns
{
    height: auto;
    
    font-family: Inter, arial;
    background-color: #164A41;
    color: white;
    padding-inline: 4%;
    padding-block: 1%;
    border-radius: 7%;
    border: 0px solid transparent;
}

#bttns_group
{
    display: flex;
    align-items: center;
    flex-direction: row;
}
#home_bttn_1{margin-right: 2.5%;}
#home_bttn_2{margin-left: 2.5%;}

#sign_in
{
    background-color: #ffffff4f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    font-family: Inter, arial;
        border-radius: 3%;
}

#sign_in_form
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

input
{
   margin-bottom: 4vh;
    padding: 2%;border: 0px transparent solid;
    border-bottom: 2px black solid;
    outline: none;
    font-family: Inter, arial;
    font-size: 2vh;
    background: transparent;
}

#aviso
{
    display: flex;
    flex-direction: column;
    align-items: center;
        max-width: 70%;
}

#lbl_aviso
{
    text-align: center;
    font-family: Inter, arial;
    font-size: 2.5vh;
}


#bttn_aviso
{
    padding: 3%;
    font-family: Inter, arial;   
        font-size: 2vh; 
        background-color: #164A41;
    color: white;
    border: 0px solid transparent;
    border-radius: 3%;
        width: 100%;
}
label
{
    font-weight: bold;
}
#submit_li
{
    padding: 3%;
    font-family: Inter, arial;   
        font-size: 2vh; 
        background-color: #164A41;
    color: white;
    border: 0px solid transparent;
    border-radius: 3%;
        width: 100%;
}

#submit_li_0
{
    padding: 3%;
    margin-bottom: 3%;
    font-family: Inter, arial;   
        font-size: 2vh; 
        background-color: #164A41;
    color: white;
    border: 0px solid transparent;
    border-radius: 3%;
        width: 100%;
}

#title_form
{
text-align: center;
    font-family: Inter, arial;
    font-size: 3.5vh;
}

#subtitle_form
{
text-align: center;
    font-family: Inter, arial;
    font-size: 2.5vh;
    text-decoration: underline #164A41;
    margin-bottom: 3vh;
    color: #164A41;
}

#ubicacion
{
        padding: 3%;
    font-family: Inter, arial;
    font-size: 2vh;
    background-color: #164A41;
    color: white;
    border: 0px solid transparent;
    border-radius: 3%;
    width: 100%;
}
#home_sign_up
{
    width: 85%;
    display: flex;
    background: #ffffff4f;
    height: 85%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    position: fixed;
    align-items: center;
    bottom: 0;
    justify-content: center;
}

#inputs
{
        display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#perfil
{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    flex-direction: column;
    padding: 5%;
    min-width: 40%;
    min-height: 40%;
    max-height: 65%;
    background: #ffffff4f;
    border-radius: 5%;
    text-align: center;
    font-family: Inter, arial;
    
}

#perfil_datos
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bttn_perfil
{
    background: transparent;
    max-height: 7vh;
    aspect-ratio: 1/1 !important;
    border: 0px transparent solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#perfil_bttns
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_perfil
{
    height: 100%;
}


#perfil_nombre
{
    font-size: 3.5vh;
    margin: 0;
}

#perfil_ubicacion
{
    margin: 0;
}

#perfil_imagen
{
    max-height: 15vh;
    max-width: 15vh;
    aspect-ratio: 1 / 1;
    margin-bottom: 3%;
}
    
#account_div
{
    display: flex;
    flex-direction: column;
}

#GET-info
{
    margin-top: 5%;
        width: 100%;
        resize: none;
        border: solid black 2px;
        background: transparent;
        height: 10vh;
}

#matches
{
    width: 75%;
    display: flex;
    max-width: 90%;
}
.match
{
        background-color: #ffffff4f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    font-family: 'Inter', arial;
    border-radius: 3%;
}
footer
{
    text-align: center;
        font-family: 'Inter', arial;
        font-size: 1.6vh;
        background-color: #164A41;
        width: 100%;
        padding: 1%;
        color: white;
}

@media only screen and (max-width: 768px) 
{
  /* For mobile phones: */
  .title{font-size: 5vw;}
  #home_info{align-items: center;}

  .home_bttns {
    width: 15vh;
    font-size: 2.2vh;
    margin-top: 2vw;
}
    .col
    {
        display: flex;
        flex-direction: column;
            width: 100%;
    }

    #sign_in
    {
      font-size: 2.5vw;

    }
      #inputs{flex-direction: column;}
}

@media only screen and (min-width: 768px)
{
  /* For bigger devices, as computers: */
  .title{font-size: 3.7vw;}
  button{cursor: pointer;}
  #home_info{align-items: flex-end;}
  #inputs{flex-direction: row;}
  .home_bttns {
    width: 18vh;
    margin-right: -1vw;
    font-size: 2.7vh;
    margin-top: 1vw;}
    .col
{
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    width: 40%;
    flex-direction: column;
}
    #sign_in
    {
        font-size: 20px;
        padding:3.5% !important;
    }
    #sign_in_form{width: 30vw;}
}